# Общие для всего проекта
node_modules/
dist/
.env
.env.*
!.env.example
logs/
*.log
.DS_Store

# Nuxt.js специфические файлы
.nuxt/
.nitro/
.output/
.data/
.cache/

# WebStorm/IntelliJ IDEA
.idea/
.fleet/

# Исключаем только из определённых папок
/backend/.env
/backend/dist
/frontend/.env
/frontend/dist
